    <div id="nav-border" class="container" >
        <div class="nav-outer">
            <div class="nav-inner">
                {{ with .Site.Menus.main }}
                    {{ range sort . "Weight" }}
                        {{ if ne .Identifier "hide-from-nav" }}
                            <a class="internal" hyphens="none" href="{{ .URL }}">
                                {{ $text := print .Name | safeHTML }}
                                {{ $text }}
                            </a>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>

