{{ define "main" }}
<h1 class="title">{{ .Title | markdownify }}</h1>
<div style="height: 2rem;"></div>
{{ if .Site.Params.intro }}
    {{ if .Site.Params.introtag }}
        <div class="sidenote" style="margin-top: 1rem;">{{ .Site.Params.introtag }}</div>
    {{ end }}
    {{ if .Site.Params.introimg }}
        {{ $filter := images.Grayscale }}
            {{with resources.Get .Site.Params.introimg}}
                {{ with . | images.Filter $filter }}
                    <div class="intro-img"><img src="{{ .RelPermalink }}" height="auto"></div>
                {{ end }}
            {{ end }}
    {{ end }}
    <p class="intro-text">{{ .Site.Params.intro | markdownify }}</p>

    <div style="height: 2.5rem;"></div>
{{ end }}
<div class="sidenote" style="margin-top: 1rem;">Latest</div>

<p class = "intro-text">
    {{ range where (where .Site.RegularPages "Type" "blog") "File.Dir" "blog/" | first 1 }}
    <div class="sidenote" style="margin-top: 1rem; font-style: italic;">{{ .Date.Format "Jan 2006" | markdownify }}</div>
        <h3 class="list"><a class="title">{{ .Title | lower | markdownify }}</a></h3>
        {{- $image := resources.Get .Params.featured_image -}}
        {{ with $image}}
            <div style="float:left;width:25%"><img src="{{ ($image.Fill "200x200 q100 Center").RelPermalink }}"></div>
        {{ end}}
        {{ .Summary | markdownify }}

    {{ end }}
</p>

<div style="height: 2.5rem;"></div>
<div class="sidenote" style="margin-top: 0.5rem;">Pages</div>
{{ with .Site.Menus.main }}
    {{ range sort . "Weight" }}
        {{ if ne .Name "Home" }}
            <h3 class="list"><a class="title" href="{{ .URL }}">{{ .Name | lower | markdownify }}</a></h3>
        {{ end }}
    {{ end }}
{{ end }}
<div style="height: 2.5rem;"></div>
{{ if .Site.Params.social }}
    <div class="sidenote">Socials</div>
    <div class="social-icons" style="margin-top: 0.5rem;">
        {{ if eq .Site.Params.iconsource "simple-icons" }}
            {{ with .Site.Params.social }}
                {{ range sort . "weight" }}
                    <a href="{{ .url }}" {{ .html_attributes | safeHTMLAttr }}>
                        <img class="icon" height="28" width="28" src="https://cdn.simpleicons.org/{{ .icon }}/444"/>
                    </a>
                {{ end }}
            {{ end }}
        {{ else if eq .Site.Params.iconsource "fontawesome" }}
            {{ with .Site.Params.social }}
                {{ range sort . "weight" }}
                    <a href="{{ .url }}" {{ .html_attributes | safeHTMLAttr }}>
                        <i class="{{ .icon }}"></i>
                    </a>
                {{ end }}
            {{ end }}
        {{ else }}
            {{ with .Site.Params.social }}
                {{ range sort . "weight" }}
                    <a href="{{ .url }}" {{ .html_attributes | safeHTMLAttr }}>
                        <i data-feather="{{ .icon }}" style="margin-right: 0.5rem;"></i>
                    </a>
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
</div>
{{ end }}
